{:personal-information {:name "Luke"
                        :surname "Cook"
                        :country "United States of America"
                        :city "Ithaca, NY"
                        :contact {:email "lukecook.e0280@passmail.net"
                                  :linkedin "https://www.linkedin.com/in/invocatis"
                                  :github "https://www.github.com/invocatis"}}
 :education {:degree "Bachelor's"
             :field-of-study "Computer Science"
             :institution "Rochester Institute of Technology"
             :year 2017}
 :experience [{:roles [{:title "Senior Software Engineer" :duration "2022–2024"}
                       {:title "Software Engineer" :duration "2020–2022"}]
               :start-date "December 2020"
               :end-date "July 2024"
               :company "Datasembly"
               :location "Remote"
               :responsibilities ["Develop and maintain automated data collection systems for grocery-related datasets"
                                  "Reverse engineer proprietary web APIs and integrate them into a unified data pipeline"
                                  "Design and implement evasion techniques to ensure high data acquisition success rates"
                                  "Collaborate with Product and Customer teams to transform raw data into actionable insights"]
               :projects ["Led development of a Playwright-based browser automation framework, simplifying integration logic and supporting advanced features such as JavaScript rendering, API encryption handling, and dynamic login workflows"
                          "Initiated effort to define and standardize the 'Out-of-Stock' detection logic, collaborating with cross-functional teams to align on data parsing patterns. Improved understanding, and clarity into data meaning."]}

              {:roles [{:title "Software Engineer"}]
               :start-date "March 2020"
               :end-date "September 2020"
               :company "Hyperfiddle"
               :location "Remote"
               :responsibilities ["Built full-stack features in a Clojure/ClojureScript + Datomic application framework"
                                  "Implemented CI/CD pipeline using CircleCI, AWS ECR/ECS, and Terraform"
                                  "Built configurable sample data generation library to support product demos and internal testing workflows"]
               :projects ["Designed an extensible algebra system for Datomic statements"
                          ["Enabled automatic simplification of negating statements (e.g., 1 + -1 = 0)"
                           "Developed frontend logic to emit statements that self-simplify on change"
                           "Proved Datomic statements formed an Algebraic Group structure"]]}
              {:roles [{:title "Application Programmer II"}]
               :start-date "June 2019"
               :end-date "June 2020"
               :company "Cornell University"
               :location "Ithaca, NY"
               :responsibilities ["Redesigned genomic CSV ingestion tool for flexibility and maintainability"
                                  ["Simplified instruction file format (V2), reducing redundancy and improving readability"
                                   "Rewrote core digester to use declarative Aspect Files (V3), which described the structure of file"
                                   "Developed a web app to convert instruction files between V1, V2, and V3 formats in Clojure(script)"]]
               :projects ["Built an automated end-to-end testing framework for genomic data pipelines"
                          ["Designed a domain-specific language to structure tests using Arrange/Act, Assert, and Cleanup phases"
                           "Implemented architecture with a Clojure backend, Java logic layer, and custom scripting syntax"
                           "Ensured test independence and idempotency to support safe execution in production-like environments"]]}
              {:roles [{:title "Application Programmer II"}]
               :start-date "June 2019"
               :end-date "June 2020"
               :company "Cornell University"
               :location "Ithaca New York"
               :responsibilities
               ["Improved genomic CSV digester application"
                ["Simplified instruction fiel format, reducing redundancy (V2)"
                 "Rewrote digester to be more generic and powerful, developed declaritive Aspect Files (v32)"
                 "Created a file translator to convert instruction files between V1, V2, and V3 in Clojure(script)"]]
               :projects
               ["Developed framework for automated end-to-end testing"
                ["Created a domain-specific scripting langauge for test structure: Arrange/Act, Assert, Cleanup"
                 "Clojure for backend, Java for business logic, and custom syntax for test specifics"
                 "Ensured test independnence and idempotency in production environments"]]}
              {:roles [{:title "Software Engineer Co-Op"}]
               :start-date "Jan 2018"
               :end-date "July 2018"
               :company "Intuit"
               :location "Mountain View, CA"
               :responsibilities ["Contributed to an agile team developing microservices for account creation workflows"
                                  "Implemented a document upload endpoint for identity verification during onboarding"
                                  "Increased test reliability and confidence by expanding unit test coverage across critical components"]}]
 :skills {:programming-languages ["Scala" "Clojure(script)" "Java" "SQL" "Rust" "Python" "Javascript"]
          :infrastructure ["PostgreSQL" "Snowflake" "Airflow" "MySQL" "Kafka" "Linux"]
          :devops ["Docker" "Terraform" "GCP" "AWS" "CircleCI" "Bamboo"]
          :monitoring ["Grafana" "Prometheus" "BugSplat" "Slack Integration"]
          :theory ["Functional Programming" "Object Oriented Programming" "Type Theory" "Language & Framework Design" "Typed Functional Programming"]}
 :projects
 [{:name "eldritch"
   :description "Algebraic Data Types & Pattern Matching"
   :link "https://www.github.com/invocatis/eldritch"}
  {:name "motif"
   :description "Recursive Pattern Matching in Clojure"
   :link "https://www.github.com/invocatis/motif"}
  {:name "ernie"
   :description "Testing Framework for Java written in Clojure"
   :link "https://www.github.com/invocatis/ernie"}
  {:name "Scala 3 Algebraic Type Exploration"
   :description "Exploration of algebraic concepts defined in Scala 3"
   :link
   "https://github.com/Invocatis/scala3-algebraic-type-exploration"}
  {:name "CSV Digester"
   :description "CSV ingestion and manipulation library"
   :link "https://bitbucket.org/gobiiproject/gobii.masticator/src/develop/"}]}
